@mixin badge-variant($bg) {
	color: $bg;
  background-color: rgba($bg, .1);
  border: 1px solid $bg;

  &[href] {
    @include hover-focus {
      color: color-yiq($bg);
      text-decoration: none;
      background-color: darken($bg, 12%);
    }
	}
}
