---
import Layout from '../layouts/Layout.astro'
import HeaderBilling from "../components/billing/header"
import FeaturesBilling from "../components/billing/features"
import LogosBilling from "../components/billing/logos"
import PricingBilling from "../components/billing/pricing"
import TestimonialsBilling from "../components/billing/testimonials"
import FaqBilling from "../components/billing/faq"
import FooterBilling from "../components/billing/footer"
---

<Layout title="Pricing page">
	<main>
    <HeaderBilling />
    <FeaturesBilling />
    <LogosBilling />
    <PricingBilling />
    <TestimonialsBilling />
    <FaqBilling />
    <FooterBilling />
  </main>
</Layout>
