---
import Layout from '../layouts/Layout.astro';
import ComingSoon from "../components/coming-soon/index"

---

<Layout title="Coming Soon Page">
	<main>
    <ComingSoon client:only="react" />
  </main>
</Layout>
