---
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/dashboard/navbar";
import Sidebar from "../components/dashboard/sidebar";
import Table from "../components/dashboard/table";
import SpeedDial from '../components/dashboard/speedDial';
import Footer from '../components/dashboard/footer';
import Charts from '../components/dashboard/charts';

---

<Layout title="Dashboard Page">
  <div class="flex m-4">
    <Sidebar client:only="react" />
    <main class="w-full ml-12">
      <Navbar client:only="react" />

      <Table client:only="react" />
      
      <div class="my-10">
        <Charts client:only="react" />
      </div>      

      <SpeedDial client:only="react" />
      
      <Footer client:only="react" />
    </main>
  </div>
</Layout>
