---
import Layout from '../layouts/Layout.astro';
import Example from "../example";
import data from "../../public/data.json";
import Header from "../header"
---

<Layout title="About Us Page">
	<main>
    <Example client:only="react" />

    <div class="position-relative pt-2 my-5">
      <Header client:only="react"  />
    </div>
  </main>
</Layout>
