---
import Layout from '../layouts/Layout.astro';
import HeaderLanding from "../components/landing/header"

---

<Layout title="Landing Page">
	<main>
    <HeaderLanding client:only="react" />
  </main>
</Layout>