---
import Layout from '../layouts/Layout.astro';
import data from '../../public/data.json';
import '../../assets/scss/astro-ecommerce.scss';
import Navbar from '../components/navbar';

---

<Layout title="Landing Page">
	<main>
    <Navbar />
    
    <div class="container my-5">
      <div class="d-flex justify-content-between align-items-center">
        <h4>Products Overview</h4>
        <span class="badge badge-pill badge-md badge-success">Medium</span>
      </div>
      <p>Components and blocks for Product Overviews</p>
      <div class="row mb-5">
        
      </div>

    </div>
  </main>

</Layout>