---
import Layout from '../layouts/Layout.astro';
import HeaderTeams from "../components/teams/header"
import StatsTeams from "../components/teams/stats"
import ContentTeams from "../components/teams/content"
import TeamSectionTeams from "../components/teams/team"
---

<Layout title="Teams">
	<main>
    <HeaderTeams />
    <StatsTeams />
    <ContentTeams />
    <TeamSectionTeams />
  </main>
</Layout>
