---
import Layout from '../layouts/Layout.astro';
import TermsConditions from "../components/terms"

---

<Layout title="Terms & Conditions">
	<main>
    <TermsConditions client:only="react" />
  </main>
</Layout>
