---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<a name="services"></a>
<div class="bg-white">
  <div
    class="mx-auto max-w-2xl px-4 py-24 sm:px-6 sm:py-32 lg:max-w-7xl lg:px-8"
  >
    <div class="grid grid-cols-1 items-center gap-x-8 gap-y-16 lg:grid-cols-2">
      <div>
        <div class="border-b border-gray-200 pb-10">
          <h2 class="font-medium text-gray-500">more</h2>
          <p
            class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
          >
            {t("services.title")}
          </p>
        </div>

        <dl class="mt-10 space-y-4">
          {
            t("services.list").map((service: string) => (
              <div>
                <dt class="text-sm font-medium text-gray-900">{service}</dt>
              </div>
            ))
          }
        </dl>
      </div>

      <div>
        <div
          class="aspect-h-1 aspect-w-1 overflow-hidden rounded-lg bg-gray-100"
        >
          <img
            src={t("image.services.1")}
            alt="Black kettle with long pour spot and angled body on marble counter next to coffee mug and pour-over system."
            class="h-full w-full object-cover object-center"
          />
        </div>
        <div
          class="mt-4 grid grid-cols-2 gap-4 sm:mt-6 sm:gap-6 lg:mt-8 lg:gap-8"
        >
          <div
            class="aspect-h-1 aspect-w-1 overflow-hidden rounded-lg bg-gray-100"
          >
            <img
              src={t("image.services.2")}
              alt="Detail of temperature setting button on kettle bass with digital degree readout."
              class="h-full w-full object-cover object-center"
            />
          </div>
          <div
            class="aspect-h-1 aspect-w-1 overflow-hidden rounded-lg bg-gray-100"
          >
            <img
              src={t("image.services.3")}
              alt="Kettle spout pouring boiling water into coffee grounds in pour-over mug."
              class="h-full w-full object-cover object-center"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
